<h2 class="text-3xl font-semibold text-blue-600 mb-6">Popis mojih želja:</h2>

<ul class="space-y-6">
  {{#unless userEmail}}
  <li class="text-gray-500 italic">Prijavite se kako bi mogli dodati želju...</li>
  {{/unless}}

  {{#if userEmail}}
  <ul class="space-y-4">
    {{#each items}}
    <li class="bg-gradient-to-r from-blue-100 to-blue-200 p-5 rounded-lg shadow-lg flex items-center justify-between">

      <div class="flex items-center space-x-4">
        <span class="text-3xl text-blue-500">💫</span>
        <h3 class="text-xl font-bold text-blue-800">{{name}}</h3>
      </div>

      <div class="flex items-center space-x-2 bg-blue-100 px-3 py-1 rounded-lg shadow-sm">
        <span class="text-blue-500 text-lg">📂</span>
        <span class="text-sm font-semibold text-gray-700">Kategorija:</span>
        <span class="text-sm font-medium text-blue-700">{{category}}</span>
      </div>

      <form method="post" action="/rooms/delete" class="flex items-center">
        <input type="hidden" name="id" value="{{id}}" />
        <input type="submit" value="Obriši"
          class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-300 cursor-pointer" />
      </form>

    </li>
    {{/each}}
  </ul>
  {{/if}}

</ul>